body{
    background-color: #e9b9f1 !important;
	height: 100vh;
}

.navbar-dark{
    background-color: #551a8b;
}

.navbar-brand{
    font-family: 'Monoton', cursive;
    color: white !important;
    font-size: 1.5rem !important;
}

.btn-outline-primary{
    color: #294390;
    border-color: #294390;
}

.btn-outline-primary:hover{
    color: white;
    background-color: #294390;
    border-color: #294390;
}

.settings-btn{
	color: white;
	font-size: 1.5rem;
	text-align: right;
	position: absolute; 
	/* right: 37%; */
	right: 5%;
}

.personal-opt{
	color: #551a8b;
	font-size: 3rem;
	/* text-align: center */
	position: relative;
}
.btn-margin{
	margin-bottom: 30% !important;
}

#personal-text{
	font-size: 1.5rem;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	/* color: #e9b9f1;  */
	color: white;
}

#friend-btn{
	/* text-align: left; */

	/* font-size: 5rem; */
	
}

#hist-btn{
	/* text-align: right; */
	/* color: green */
	position: relative;
	/* font-size: 1.5rem; */

}

#mypoll-btn{
	/* text-align: right; */
	
	margin-bottom: 1000px !important;
}

#challenge-btn{
	/* text-align: right; */
}

#navNameLI{
    pointer-events: none;
    font-weight: bold;
}

#navName{
    color: lightgray;
}

#personalContent{
	text-align: center;
	vertical-align: center;
    align-content: center;
    background: rgba(0, 0, 0, 0.15);
    border: 2px solid white;
    border-radius: 10px;
    margin-top: 1.5rem;
    padding: 1rem;
}

#emoji{
	
	align-content: center;
	text-align: center;
	#border: 1px solid white;
	#border-radius: 25%;
	#height: 150%;
	width: 100px;
	margin-top: 1rem;
	margin-bottom: 1rem;
}

#displayName{
	text-align: center;
	align-content: center;
	font-size: 1.5rem;
	#font-style: italic;
	font-weight: bold;
	margin: 0;
	color: white;
}

#username{
	text-align: center;
	align-content: center;
	font-size: 1.5rem;
	#font-style: italic;
	margin: 0;
	color: white;
}

.row{
	overflow: hidden;
	padding: 1rem;
}

.stats{
	text-align: center;
	align-content: center;
	font-size: 1.2rem;
	color: white;
	#border: 1px solid white;
	margin-top: 10px;
	border-radius: 20%;
	background-color: rgba(0, 0, 0, 0.10);
	padding: 5%;
}