body{
    background-color: #e9b9f1 !important;
    height: 100vh;
}

.navbar-dark{
    background-color: #551a8b;
}

.navbar-brand{
    font-family: 'Monoton', cursive;
    color: white !important;
    font-size: 1.5rem !important;
}

.btn-outline-primary{
    color: #294390;
    border-color: #294390;
}

.btn-outline-primary:hover{
    color: white;
    background-color: #294390;
    border-color: #294390;
}

#navNameLI{
    pointer-events: none;
    font-weight: bold;
}

#navName{
    color: lightgray;
}

#title{
    font-size: 2.5rem;
    #font-weight: bold;
    margin: 0;
    color: white;
}

#settingsContent{
    text-align: center;
	vertical-align: center;
    align-content: center;
    background: rgba(0, 0, 0, 0.25);
    border: 2px solid white;
    border-radius: 25px;
    margin-top: 1.5rem;
    padding: 1rem;
}

#sub-heading{
	text-align: left;
	align-content: left;
	font-size: 1.25rem;
	font-style: italic;
	margin: 0;
	color: white;
}

#displayNameText, #passwordText, #loginButton, #forgotButton, #repeatDisplayNameText, #repeatPasswordText{
    margin-top: 1rem; 
}