body{
    background-color:#621ea0 !important;
    height: 100vh;
}

.navbar-dark{
    background-color: #551a8b;
}

.navbar-brand{
    font-family: 'Monoton', cursive;
    color: white !important;
    font-size: 1.5rem !important;
}

.btn-outline-primary{
    color: #294390;
    border-color: #294390;
}

.btn-outline-primary:hover{
    color: white;
    background-color: #294390;
    border-color: #294390;
}

#navNameLI{
    pointer-events: none;
    font-weight: bold;
}

#navName{
    color: lightgray;
}

.form-control, #signupButton{
    margin-top: 2rem; 
}

#title{
    font-size: 2.5rem;
    font-weight: bold;
    margin: 0;
    color: white;
}

#signupContent{
    background: rgba(0, 0, 0, 0.25);
    border: 2px solid white;
    border-radius: 25px;
    padding: 1rem;
    text-align: center;
    align-content: center;
    /* width: 50%; */
    margin-top: 100px;
    margin-bottom: 15px;
}

.error{
    color: red;
}

#emojiTable{
	text-align: center;
	overflow: scroll;
}

#emojiBody{
	height: 400px;
	overflow: scroll;
}

.emoji{
    font-size: 2.5rem;
    cursor: pointer;
}

.emoji:hover{
	font-size: 2.75rem;
}

#emoji{
	align-content: center;
	text-align: center;
	font-size: 5rem;
	margin: 0px;
}

#emoji:hover{
	align-content: center;
	text-align: center;
	font-size: 5.5rem;
	cursor: pointer;
	margin: 0px;
}