body{
    background-color: #e9b9f1 !important;
	height: 100vh;
}

.invisible{
	display: none;
}

.navbar-dark{
	background-color: #551a8b;
}

.navbar-brand{
    font-family: 'Monoton', cursive;
    color: white !important;
    font-size: 1.5rem !important;
}

.btn-outline-primary{
    color: #294390;
    border-color: #294390;
}

.btn-outline-primary:hover{
    color: white;
    background-color: #294390;
    border-color: #294390;
}

.settings-btn{
	color: white;
	font-size: 1.5rem;
	text-align: right;
	position: absolute; 
	/* right: 37%; */
	right: 5%;
}

.personal-opt{
	color: #551a8b !important;
	font-size: 300%;
	/* text-align: center */
	position: relative;
}

.personal-opt:hover{
	color: violet !important;
	font-size: 360%;
}
.btn-margin{
	margin-bottom: 8vw !important;
}

#no-bottom{
	margin-bottom: -10vw;
}

#personal-text{
	font-size: 1rem;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	/* color: #e9b9f1;  */
	color: white;
}

#friend-btn{
	/* text-align: left; */

	/* font-size: 5rem; */
	
}


#noResults{
    text-align: center;
}

#hist-btn{
	/* text-align: right; */
	/* color: green */
	position: relative;
	/* font-size: 1.5rem; */

}

#mypoll-btn{
	/* text-align: right; */
	
	margin-bottom: 1000px !important;
}

#challenge-btn{
	/* text-align: right; */
	/* color: #551a8b !important; */
}

#navNameLI{
    pointer-events: none;
    font-weight: bold;
}

#navName{
    color: lightgray;
}

#personalContent{
	text-align: center;
	vertical-align: center;
    align-content: center;
    background: rgba(0, 0, 0, 0.15);
    border: 2px solid white;
    border-radius: 10px;
    margin-top: 1.5rem;
	padding: 1rem;
	margin-top: 60px;
}

#emoji{
	align-content: center;
	text-align: center;
	font-size: 5rem;
	margin: 0px;
}

#emoji:hover{
	align-content: center;
	text-align: center;
	font-size: 5.5rem;
	cursor: pointer;
	margin: 0px;
}

#displayName{
	text-align: center;
	align-content: center;
	font-size: 1.5rem;
	/* #font-style: italic; */
	font-weight: bold;
	margin: 0;
	color: white;
}

#username{
	text-align: center;
	align-content: center;
	font-size: 1.5rem;
	/* #font-style: italic; */
	margin: 0;
	color: white;
}

.row{
	overflow: hidden;
	padding: 1rem;
}

.stats{
	text-align: center;
	align-content: center;
	font-size: 1.2rem;
	color: white;
	/* #border: 1px solid white; */
	margin-top: 10px;
	border-radius: 20%;
	background-color: rgba(0, 0, 0, 0.10);
	padding: 5%;
}

#viewToggle, #friendToggle{
    width: 100%;
    margin-bottom: 1.5rem;
}

#viewToggle .btn{
    width: 50%;
}

#friendToggle .btn{
    width: 33%;
}

.btn-group-toggle label{
    color: white;
    background-color: #7647a2;
    border-color: #551a8b;
}

.btn-group-toggle label:hover{
    background-color: purple;
}

#viewToggle .active, #friendToggle .active{
    color: white;
    background-color: #551a8b;
}

tbody tr{
    cursor: pointer;
}

#emojiTable{
	text-align: center;
	overflow: scroll;
}

#emojiBody{
	height: 400px;
	overflow: scroll;
}

.emoji{
	font-size: 2.5rem;
	cursor: pointer;
}

.emoji:hover{
	font-size: 2.75rem;
}

#themeDiv {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}


.pollCard{
    background-color: white;
    height: 75vh;
    margin-top: 15px;
    z-index: 0;
    margin-bottom: 15px;
    border: 2px solid #551a8b;
    border-radius: 25px;
    padding: 0px !important;
	overflow: hidden;
	margin-left: 5px;
	margin-right: 5px;
}

#cardTitle{
    width: 100%;
    background-color: #551a8b;
    color: white;
    /* font-size: 2.5rem; */
    text-align: center;
    height: 12.5%;
}

#cardTitle #titleP{
    margin: 0px;
    font-size: 1.5rem;
    height: 50%;
}

#cardContent{
    margin: 0px;
    padding: 0px;
    height: 75%;
    cursor: pointer;
}

#cardLeft{
    background-color: red;
    margin: 0px;
    border-right: 2px solid #551a8b;
    /* visibility: hidden; */
}

#cardRight{
    background-color: blue;
    margin: 0px;
    border-left: 2px solid #551a8b;
}

#cardBottom{
    background-color: #551a8b;
    height: 12.5%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    text-align: center;
    color: white;
}

.pollCard{
    position: relative;
}

#cardContentOverlay{
    position: absolute;
    top: 12.5%;
    z-index: 100;
    margin-left: 0px;
    padding: 0px;
    height: 75%; 
}

#leftBlank{
    /* background: black; */
    height: 50%;
}

#rightBlank{
    /* background: black; */
    height: 25%;
}

#leftResults{
    background: rgba(255, 255, 255, 0.5);
    height: 50%;
}

#rightResults{
    background: rgba(255, 255, 255, 0.5);
    height: 75%;
}

#rightResults, #leftResults{
    color: white;
    text-align: center;
}

#themes{
    color: lightgray;
}

.displayName{
    margin: 0px;
    /* font-size: 1.5rem; */
}

.pollView{
	padding: 0px;
}

#myPollsModal .modal-body{
	height: 80vh;
	overflow: scroll;
}

#historyModal .modal-body{
	height: 80vh;
	overflow: scroll;
}

#settingsContent{
    text-align: center;
	vertical-align: center;
    align-content: center;
}

.error{
    color: red;
}

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}
