body{
    background-color: #9975b9 !important;
}

.navbar-dark{
    background-color: #551a8b;
}

.navbar-brand{
    font-family: 'Monoton', cursive;
    color: white !important;
    font-size: 1.5rem !important;
}

#navNameLI{
    pointer-events: none;
    font-weight: bold;
}

#navName{
    color: lightgray;
}

#topBar{
    background: #7647a2;
    /* height: 75px; */
    border-bottom: 2px solid white;
    text-align: center;
    padding: 0.5rem;
}

.topButton{
    width: 100%;
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
}

#searchBar{
    background: transparent;
    color: white !important;
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
}